/* $Id: eightball.css,v 1.3 2009/01/27 22:35:30 sunsetbill Exp $ */

/**
 * theme the 8-ball block
 */

#block-eightball-eightball {
  height:95px;
  width: 180px;
  color: black;
  background-color: ;
  font-weight:bold;
  text-align:center;
}

#block-eightball-eightball .eightball-answer {
  padding-top: 2em;
}

#block-eightball-eightball a {
  color: #ddd;
}

p.ask-again {
  line-height: 3.5em;
  background: red;
}

img {
  vertical-align: middle;
}
